/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* GLOBAL */
:root {
  --blue-bg-color: #6e9cd3;
  --dark-gray-color: #323232;
  --light-gray-footer-color: #9b9b9b;
}

html {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

.dark-section {
  background-color: var(--dark-gray-color);
  color: #fff;
  text-align: center;
  padding: 0rem 0rem;
  font-size: 0.85rem;
}

.dark-section > h2 {
  font-size: 1.25rem;
  padding-top: 2.5rem;
}

.dark-section > p {
  padding: 0.5rem;
}

.btn-container {
  padding: 1.5rem 0rem;
}

.btn {
  background-color: #fff;
  border: 2px solid var(--blue-bg-color);
  color: var(--blue-bg-color);
  padding: 0.7rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
}

.no-border {
  border: none;
}

/* HEADER */
header {
  width: 100%;
  height: 5rem;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  line-height: 1.2;
}

.brand {
  color: var(--dark-gray-bg-color);
  font-size: 1.25rem;
  font-weight: 700;
  padding-left: 3rem;
}

.tagline {
  font-weight: 300;
  font-size: 0.55rem;
  padding-top: 0rem;
  padding-left: 3rem;
}

/* HERO */

.hero {
  background-color: var(--blue-bg-color);
  color: #fff;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 4rem 5rem;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
  padding: 1.5rem 0rem;
}

.hero-text {
  width: 30rem;
  padding: 1rem 5rem;
}

.hero-text > p {
  padding: 1rem 0rem;
  font-weight: 300;
}

.line {
  border-bottom: 1px solid #fff;
}

@media only screen and (max-width: 600px) {
  .hero-text {
    min-width: 100%;
  }

  h1 {
    line-height: 1.2;
  }
}

/* UNIQUE SELLING POINT */

.usp {
  width: 100%;
  text-align: center;
  font-size: 0.85rem;
  padding: 2rem 0rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.usp-header {
  font-size: 1.75rem;
  padding-bottom: 0rem;
}

.usp-line {
  width: 7rem;
  padding-bottom: 2rem;
  border-top: 1px solid var(--light-gray-footer-color);
}

.usp-text {
  padding: 0rem 25rem;
  padding-bottom: 1rem;
}

@media only screen and (max-width: 1000px) {
  .usp-text {
    padding: 1rem 1rem;
  }
}

/* BENEFITS */

.benefits {
  background-color: var(--blue-bg-color);
  color: #fff;
  text-align: center;
  padding: 1rem 1rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.benefit {
  padding: 2rem 5rem;
  width: 15rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  font-size: 0.85rem;
}

.benefit-image {
  border-radius: 100%;
}

.benefit-line {
  width: 50%;
  padding-bottom: 2rem;
  border-top: 2px solid #fff;
}

.benefit > h2 {
  font-size: 1.25rem;
  padding: 0.9rem 0rem;
}

.arrow-container {
  display: flex;
  justify-content: center;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid var(--blue-bg-color);
}

/* VISIT */

.visit-btn-container {
  padding: 2.5rem;
}

/* SOCIAL */

.social {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.social > h2 {
  font-size: 2rem;
  padding-top: 2rem;
}

.social-line {
  width: 3rem;
  padding-bottom: 2rem;
  border-top: 2px solid var(--light-gray-footer-color);
}

.social-image-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  padding-bottom: 2.5rem;
}

.social-image {
  padding: 0.25rem;
}

/* TESTIMONIALS */

.testimonials-header {
  font-size: 0.85rem !important;
}

blockquote {
  font-size: 1.5rem;
  font-style: italic;
  padding: 2rem 25rem;
}

@media only screen and (max-width: 1100px) {
  blockquote {
    padding: 2rem 2rem;
  }
}

/* FOOTER */

footer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.social-media-container {
  padding-top: 2rem;
}

.social-logo {
  padding: 0rem 1rem;
}

.copyright {
  font-size: 0.6rem;
  color: var(--light-gray-footer-color);
  padding-top: 0.5rem;
  padding-bottom: 3.5rem;
}
